<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectProducts"
	         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ProductBase;Integrated Security=True"
	         providerName="System.Data.SqlClient"/>		
	</connectionStrings>
</configuration>