<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectProduct"
			 connectionString="Data Source=.\AccessBase.accdb;Provider=Microsoft.ACE.OLEDB.12.0;Jet OLEDB:Database Password=1"
			 providerName="System.Data.OleDb"/>
		<add name="ConnectClient"
	         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=mobiledb;Integrated Security=True"
	         providerName="System.Data.SqlClient"/>		
	</connectionStrings>
</configuration>